body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.footer {
  margin-top: 40px;
}

.index_page {
  .large_title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .description_box {
    margin-bottom: 40px;
  }

  .large_explanation {
    font-size: 24px;
  }
}

.benchmark_page {
  .benchmark_graph {
    height: 340px;
    margin: 60px auto;
  }

  .benchmark_navbar {
    margin-top: 20px;
    display: inline-block;
  }
}

.benchmarks-table {
  width: 70%;
  margin: 0 auto 60px auto;
  a {
    text-decoration: underline;
  }
}

.margined-links {
  a,
  span {
    margin-right: 10px;
  }
}
