.benchmark_page
  .text-center
    %h1 Optcarrot

    = github_link 'mame/optcarrot'

    -#:ruby
      results = fetch_results('optcarrot/benchmark*.yml', releases: false)
      locals = {
        value_by_version_by_job: results.fetch('results'),
        description_by_version: results.fetch('descriptions'),
        metrics_unit: results.fetch('metrics_unit'),
        width_percent: 100,
        height_pixel: 560,
        chart_type: 'line',
        show_table: true,
      }
    -#= partial '../graphs', locals: locals
