:ruby
  benchmarks = YAML.load_file(File.expand_path('../../ruby-bench/benchmarks.yml', __dir__))
  category_benchmarks = %w[headline other micro].map do |category|
    benchmarks.filter_map do |name, benchmark|
      if benchmark.fetch('category', 'other') == category
        name
      end
    end
  end
.benchmark_page
  .text-center
    %h1 ruby-bench

    = github_link 'ruby/ruby-bench'

    #graph_metadata{ 'data-type': 'line' }

    %ul.nav.nav-pills.benchmark_navbar
      - category_benchmarks.each do |benchmarks|
        - benchmarks.reject{|b, _| b.to_s.include? 'ractor/'}.each_with_index do |benchmark, index|
          %li.nav-item
            %a.nav-link.activate-chart{ href: '#', 'data-id': benchmark }= benchmark
        %li.nav-item{ style: 'clear: both; float: left; display: block; position: relative;' }

  - graph_data = { 'data-ruby-versions': [], 'data-vm-values': [], 'data-zjit-values': [], 'data-yjit-values': [] }
  - category_benchmarks.each do |benchmarks|
    - benchmarks.each do |benchmark|
      .benchmark_graph{ graph_data, id: benchmark, 'data-name': benchmark }

.benchmark_page
  .text-center
    %div
      %label.form-check.form-check-inline.metric_type
        %input.form-check-input{ type: 'radio', name: 'metric_type', value: 'Speedup', checked: true }
        Speedup
      %label.form-check.form-check-inline.metric_type
        %input.form-check-input{ type: 'radio', name: 'metric_type', value: 'Time' }
        Time

:javascript
  $(function() {
    var rubies = {};

    function plotChart(graphElement, metricType) {
      var graphType = $('#graph_metadata').data('type');
      var name = graphElement.data('name');
      var unit = 'seconds';
      if (metricType == 'Speedup') {
        unit = 'times';
      }

      var series = [{
        name: 'No JIT',
        data: graphElement.data('vm-values'),
        color: '#3285e1'
      }, {
        name: 'YJIT',
        data: graphElement.data('yjit-values'),
        color: '#489d32'
      }, {
        name: 'ZJIT',
        data: graphElement.data('zjit-values'),
        color: '#e2c13e'
      }];

      var config = RubyBench.createBaseChartConfig(graphElement, {
        graphType: graphType,
        title: name,
        yAxisTitle: unit,
        categories: graphElement.data('ruby-versions'),
        xAxisLabels: {
          formatter: function() {
            var date = Number(this.value);
            var sha = rubies[date];
            if (sha) {
              return '<a href="https://github.com/ruby/ruby/commit/' + sha + '">' + RubyBench.formatDate(date) + '</a>';
            } else {
              return RubyBench.formatDate(date);
            }
          }
        },
        tooltip: {
          formatter: function() {
            var date = Number(this.category);
            var sha = rubies[date];
            var prefix = '<span style="font-size: 10px">' + RubyBench.formatDate(date);
            if (sha) {
              prefix += ' revision ' + sha.substring(0, 10);
            }
            prefix += '</span><br/>' +
              '<span style="color:' + this.color + '">●</span> ' + this.series.name + ': ';
            if (metricType == 'Speedup') {
              return prefix + '<b>' + this.y.toFixed(2) + 'x faster</b>';
            } else {
              return prefix + '<b>' + this.y + 's</b>';
            }
          }
        },
        series: series
      });

      try {
        RubyBench.plotChart(graphElement, config);
      } catch(e) {
        console.error('Error in plotChart:', e);
        console.error('Stack trace:', e.stack);
        RubyBench.showError(graphElement, 'Chart rendering error: ' + e.message);
      }
    };

    function activateChart(graphElement) {
      var benchmark = graphElement.attr('id');
      $.get('https://raw.githubusercontent.com/rubybench/rubybench-data/main/ruby-bench/' + benchmark + '.yml')
        .done(function (data) {
          RubyBench.showOnlyGraph(graphElement);

          var ruby_versions = [];
          var vm_values = [];
          var yjit_values = [];
          var zjit_values = [];
          var metricType = RubyBench.getSelectedMetricType();

          try {
            var date_results = jsyaml.load(data);
            for (var date in date_results) {
              var vm_result = date_results[date][0];
              var yjit_result = date_results[date][1];
              var zjit_result = date_results[date][2];
              ruby_versions.push(date);
              if (metricType == 'Speedup') {
                vm_values.push(vm_result ? 1 : null);
                yjit_values.push(yjit_result && vm_result ? vm_result / yjit_result : null);
                zjit_values.push(zjit_result && vm_result ? vm_result / zjit_result : null);
              } else {
                vm_values.push(vm_result || null);
                yjit_values.push(yjit_result || null);
                zjit_values.push(zjit_result || null);
              }
            }

            graphElement.data('name', benchmark);
            graphElement.data('ruby-versions', ruby_versions);
            graphElement.data('vm-values', vm_values);
            graphElement.data('yjit-values', yjit_values);
            graphElement.data('zjit-values', zjit_values);

            plotChart(graphElement, metricType);
          } catch(e) {
            console.error('Error processing benchmark data:', e);
            RubyBench.showError(graphElement, 'Error loading benchmark data: ' + e.message);
          }
        })
        .fail(function(xhr) {
          console.error('Failed to load benchmark data:', xhr.status);
          RubyBench.showError(graphElement, 'Failed to load benchmark data (HTTP ' + xhr.status + ')');
        });
    };

    // Setup navigation
    var navigation = RubyBench.setupBenchmarkNavigation({
      activateChart: activateChart,
      defaultBenchmark: $('.benchmark_graph##{category_benchmarks.first.first}')
    });

    // Setup metric type handlers
    RubyBench.setupMetricTypeHandlers(function(event) {
      var id = RubyBench.getActiveBenchmarkId();
      var graphElement = $("#" + id);
      activateChart(graphElement);
      window.location.hash = id;
    });

    // Load rubies first
    $.get('https://raw.githubusercontent.com/rubybench/rubybench-data/main/rubies.yml').done(function (data) {
      rubies = jsyaml.load(data);
      navigation.handleHashNavigation();
    });
  });
