%h4.text-center
  Benchmark results on
  %span.benchmark_date ...

.benchmark_page
  .text-center
    #graph_metadata{ 'data-type': 'column' }

    %ul.nav.nav-pills.benchmark_navbar
      - %w[Headline Other Micro].each_with_index do |category, index|
        %li.nav-item
          %a.nav-link.activate-chart{ href: '#', 'data-id': category.downcase, class: ('active' if index == 0) }= category
      %li.nav-item{ style: 'clear: both; float: left; display: block; position: relative;' }

  - %w[headline other micro].each do |category|
    .benchmark_graph{ id: category }
    .benchmark_graph.rss_graph{ id: "#{category}_rss" }

:javascript
  $(function() {
    var dashboard = {};

    function plotSpeedChart(graphElement, category) {
      var graphType = $('#graph_metadata').data('type');
      var series = [{
        name: 'No JIT',
        data: dashboard[category]['no_jit'],
        color: '#3285e1'
      }, {
        name: 'YJIT',
        data: dashboard[category]['yjit'],
        color: '#489d32'
      }, {
        name: 'ZJIT',
        data: dashboard[category]['zjit'],
        color: '#e2c13e'
      }];
      var categories = dashboard[category]['benchmarks'];

      Highcharts.setOptions({ lang: { thousandsSep: '' } });
      Highcharts.chart(graphElement.attr('id'), {
        chart: { zoomType: 'x', type: graphType },
        title: { text: 'Speed (higher is better)' },
        yAxis: { min: 0, title: { text: 'times' } },
        xAxis: { categories: categories },
        tooltip: {
          formatter: function() {
            var prefix = '<span style="font-size: 10px">' + this.x + '</span><br/>' +
              '<span style="color:' + this.color + '">●</span> ' + this.series.name + ': ';
            return prefix + '<b>' + this.y.toFixed(2) + 'x faster</b>';
          }
        },
        series: series,
        plotOptions: { series: { animation: { duration: 400 } } }
      });
    }

    function plotRssChart(graphElement, category) {
      var graphType = $('#graph_metadata').data('type');
      var rssData = dashboard[category]['rss'];
      var series = [{
        name: 'No JIT',
        data: rssData['no_jit'],
        color: '#3285e1'
      }, {
        name: 'YJIT',
        data: rssData['yjit'],
        color: '#489d32'
      }, {
        name: 'ZJIT',
        data: rssData['zjit'],
        color: '#e2c13e'
      }];
      var categories = dashboard[category]['benchmarks'];

      Highcharts.chart(graphElement.attr('id'), {
        chart: { zoomType: 'x', type: graphType },
        title: { text: 'Memory (lower is better)' },
        yAxis: {
          min: 0,
          title: { text: 'relative to no-JIT' },
          plotLines: [{
            value: 1.0,
            color: '#666',
            dashStyle: 'Dash',
            width: 1,
            label: { text: 'baseline', style: { color: '#666' } }
          }]
        },
        xAxis: { categories: categories },
        tooltip: {
          formatter: function() {
            var prefix = '<span style="font-size: 10px">' + this.x + '</span><br/>' +
              '<span style="color:' + this.color + '">●</span> ' + this.series.name + ': ';
            var pct = ((this.y - 1) * 100).toFixed(0);
            var label = this.y === 1 ? 'same as baseline' :
              (this.y > 1 ? '+' + pct + '% memory' : pct + '% memory');
            return prefix + '<b>' + label + '</b>';
          }
        },
        series: series,
        plotOptions: { series: { animation: { duration: 400 } } }
      });
    }

    function activateChart(graphElement) {
      $('.benchmark_graph').hide();
      var category = graphElement.attr('id');
      var rssElement = $('#' + category + '_rss');
      graphElement.show();
      rssElement.show();
      plotSpeedChart(graphElement, category);
      plotRssChart(rssElement, category);
    }

    // Switch active tab and render it
    $('.activate-chart').on('click', function(event) {
      event.preventDefault();
      $('.benchmark_navbar .nav-link').removeClass('active');
      $(this).addClass('active');
      var id = $('.benchmark_navbar .nav-link.active').data('id');
      var graphElement = $('#' + id);
      activateChart(graphElement);

      if (history.pushState) {
          history.pushState(null, null, '#' + id);
      } else {
          location.hash = '#' + id;
      }
    });

    // Load dashboard first
    $.get('https://raw.githubusercontent.com/rubybench/rubybench-data/main/dashboard.yml').done(function (data) {
      dashboard = jsyaml.load(data);

      // Update the date
      $('.benchmark_date').html(dashboard['date']);

      // Activate a benchmark result
      var url = document.location.toString();
      if (url.match('#')) {
        var id = url.split('#')[1];
        $('.benchmark_navbar .nav-link').removeClass('active');
        activateChart($('.benchmark_graph#' + id));
        $('.activate-chart[data-id=' + id + ']').addClass('active');
      }
      else {
        activateChart($('.benchmark_graph#headline'));
      }
    });
  });
