.text-center
  %h1 Hardware

  %p
    All benchmark results are measured on the machine with the following specs, using
    #{link_to 'ruby/ruby-docker-images', 'https://github.com/ruby/ruby-docker-images'}.

%table.benchmarks-table.table.table-striped
  %thead
    %tr
      %th Type
      %th Spec
  %tbody
    %tr
      %td Operating System
      %td Ubuntu 22.04
    %tr
      %td Processor
      %td AMD Ryzen 9 5900HX with Radeon Graphics
    %tr
      %td Memory
      %td 15GiB
