.index_page.text-center
  %h1.large_title Rubybench

  .description_box
    %p.large_explanation
      Ruby benchmark results

%h2.text-center yjit-bench
%h4.text-center Set of benchmarks for the YJIT CRuby JIT compiler

%table.benchmarks-table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - %w[optcarrot railsbench].each do |name|
      %tr
        %td= link_to name, "/benchmarks/#{name}.html"
