.index_page.text-center
  %h1.large_title benchmark-driver.github.io

  .description_box
    %p.large_explanation
      Experimental benchmark result viewer for benchmark-driver
    %p Last Update: #{Time.now.strftime('%Y-%m-%d (%a) %H:%M:%S %Z')}

= partial 'benchmarks/table'
