.index_page.text-center
  %h1.large_title Rubybench

  .description_box
    %p.large_explanation
      Ruby benchmark results

%h2.text-center yjit-bench
%h4.text-center Set of benchmarks for the YJIT CRuby JIT compiler

%table.benchmarks-table.table.table-striped
  %thead
    %tr
      %th Category
      %th Benchmarks
  %tbody
    :ruby
      category_benchmarks = {
        'Headlining Benchmarks' => %w[activerecord hexapdf liquid-render mail psych-load railsbench],
        'Other Benchmarks' => %w[binarytrees chunky_png erubi erubi_rails etanni fannkuchredux lee nbody optcarrot ruby-lsp rubykon],
      }
    - category_benchmarks.each do |category, benchmarks|
      %tr
        %td= category
        %td.margined-links
          - benchmarks.each do |benchmark|
            = link_to benchmark, "/benchmarks/#{benchmark}.html"
